.stocks-list-container {
  width: 100%;
  padding: 20px 30px;
  background: linear-gradient(258.04deg, #102c40 11.02%, #183a53 86%);
  box-shadow: 7px 8px 11px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin-bottom: 50px;
}

.header-stocks-list {
  color: #1AE3FF;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .header-block{
    width: 13%;


    &:last-child{
      width: 9%;

      margin-left: auto;
      text-align: center;
    }

    &.on_right{
    
      text-align: right;
      
    }

    &.header-name{
      width: 20%;
    }

    &.header-exchange{
      width: 6%;
    }
  }
}
